*{
    box-sizing: border-box;
    margin: 0;
}

.wraper-header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0.125turn, #7A6B7B, #32687D, #7A6B7B);
    display: flex;
    justify-content: center;
}

.container-header{
    width: 1170px;
    min-height: 100vh;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.logo-header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header-btn{
    height: 58px;
    width: 58px;
    border: 3px solid #d3d3d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.logo-header-btn-strip{
    height: 3px;
    width: 27px;
    background-color: #d3d3d8;
}

.heading-header{
    margin-top: -90px;
    min-height: 160px;
    width: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.heading-header-strip{
    width: 100%;
    height: 3px;
    background-color: #9bb4be;
}

.heading-header-text{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    letter-spacing: 13px;
}

.heading-header-hashtag{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 25px;
    color: #9bb4be;
    text-align: center;
    letter-spacing: 1px;
}

.wraper-about{
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
}

.container-about{
    width: 1170px;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.prpl-man-about{
    background-image: url(../img/prpl-man.png);
    height: 583px;
    width: 433px;
}

.text-section-about{
    height: 275px;
    width: 675px;
    margin-bottom: 65px;
}

.text-section-about .heading{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 26px;
    color: #737373;
    text-align: left;
}

.text-section-about .prgr{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 22px;
    color: #a0a0a0;
    text-align: left;
}


.hire-me-button{
    width: 200px;
    height: 50px;
    background-color: #ff2b4a;
    margin-bottom: 145px;
}

.hire-me-button p{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
}

.wraper-process{
    height: 670px;
    width: 100vw;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}

.container-process{
    width: 1170px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading-process{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #000000;
    text-align: center;
    margin-bottom: 32px;
}

.description-process{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #6f6f6f;
    text-align: center;
    margin-bottom: 60px;
}

.elements-process{
    height: 280px;
    width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element-process{
    height: 280px;
    width: 270px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-position: left 50% top 45%;
    padding-top: 170px;
}

.element-process:nth-child(1){
    background-color: #10c6fc;
    background-image: url(../img/Monitor.png)
}

.element-process:nth-child(2){
    background-color: #835aeb;
    background-image: url(../img/Magic-wand.png)
}

.element-process:nth-child(3){
    background-color: #002453;
    background-image: url(../img/params.png)
}

.element-process:nth-child(4){
    background-color: #ff2b4a;
    background-image: url(../img/Plane.png)
}

.wraper-edu{
    height: 800px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(0.125turn, #7A6B7B, #32687D, #7A6B7B);
}

.container-edu{
    width: 1170px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center
}