*{
    box-sizing: border-box;
    margin: 0;
}

.wraper-header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0.125turn, #7A6B7B, #32687D, #7A6B7B);
    display: flex;
    justify-content: center;
}

.container-header{
    width: 1170px;
    min-height: 100vh;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.logo-header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header-btn{
    height: 58px;
    width: 58px;
    border: 3px solid #d3d3d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.logo-header-btn-strip{
    height: 3px;
    width: 27px;
    background-color: #d3d3d8;
}

.heading-header{
    margin-top: -90px;
    min-height: 160px;
    width: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.heading-header-strip{
    width: 100%;
    height: 3px;
    background-color: #9bb4be;
}

.heading-header-text{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    letter-spacing: 13px;
}

.heading-header-hashtag{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 25px;
    color: #9bb4be;
    text-align: center;
    letter-spacing: 1px;
}

.wraper-about{
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
}

.container-about{
    width: 1170px;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.prpl-man-about{
    background-image: url(../img/prpl-man.png);
    height: 583px;
    width: 433px;
}

.text-section-about{
    height: 275px;
    width: 675px;
}

.text-section-about .heading{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #737373;
    text-align: left;
}

.text-section-about .prgr{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 255);
    text-align: left;
}